[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pygraphviz = "*"
django-extensions = "*"
pylint = "*"
autopep8 = "*"
pep8 = "*"

[packages]
django = "*"
pandas = "*"
tqdm = "*"
natsort = "*"

[requires]
python_version = "3.7"
