{% extends 'base.html' %}
{% load static %}
{% block title %}Prottox database | Home{% endblock title %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'prottox/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'prottox/css/jstreetheme/style.min.css' %}"/>
<link rel="stylesheet" href="{% static 'prottox/css/home.css' %}"/>
<!-- fontawesome -->
<link rel="stylesheet" href="{% static 'prottox/css/all.min.css' %}"/>
{% endblock additional_css %}

{% block additional_js %}
<script src="{% static 'prottox/js/jquery.min.js' %}"></script>
<script src="{% static 'prottox/js/bootstrap.min.js' %}"></script>
<script src="{% static 'prottox/js/popper.min.js' %}"></script>
<script src="{% static 'prottox/js/jstree.min.js' %}"></script>
<script src="{% static 'prottox/js/home.js' %}"></script>
<!-- fontawesome -->
<script src="{% static 'prottox/js/all.min.js' %}"></script>
{% endblock additional_js %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Prottox Database</h1>
        <hr class="my-2">
        <p class="lead">Protein toxin &amp; their combinations from <i>Bacillus Thuringiensis</i></p>
      </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="jumbotron">
                    <h5 class="mt-n4">Browse options</h5>
                    <hr class="mt-n1"/>
                <div class="btn-group-vertical" role="group">
                    <button onclick="initFactorTree()" type="button" class="btn btn-primary"><i class="fas fa-biohazard"></i> | Search factors</button>
                    <br/>
                    <button onclick="initTargetTree()" type="button" class="btn btn-primary"><i class="fas fa-frog"></i> | Search organisms </button>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="jumbotron">
                <h3 class="mt-n4">Item selection</h3>
                <hr class="mt-n1"/>
                <div id="tree"></div>
                <br>
                <form id="form" action="{% url 'research_browser' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="entity" id="formEntity" value=""/>
                    <input type="hidden" name="IDs" id="formIds" value=""/>
                    <button class="btn btn-primary" type="submit">Search <i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}