{% load static %}
<!-- begin:: Content -->
<div class="kt-cadiasontainer  kt-grid__item kt-grid__item--fluid">

    <!-- begin:: accordions -->
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__body">
                    <div class="kt-infobox">
                        <div class="kt-infobox__header">
                            <h2 class="kt-infobox__title">About TOXiTAXi</h2>
                        </div>
                        <div class="kt-infobox__body">

                            <!--begin::Accordion-->
                            <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample1">
                                <div class="card">
                                    <div class="card-header" id="headingOne1">
                                        <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg> Brief user manual
                                        </div>
                                    </div>
                                    <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordionExample1">
                                        <div class="card-body">
                                            <ul>
                                                <li>Browse the available research by toxin(s) or by tested organism</li>
                                                <li>Select one or multiple items in the expandable tree</li>
                                                <li>Click “Search research” button</li>
                                                <li>Add or remove result category columns using “Visible columns” button</li>
                                                <li>Manually adjust the column sequence according to your preference and sort the results alphabetically by each column content</li>
                                                <li>Select the desired information using eight available filters</li>
                                                <li>Define the number of experiments per page</li>
                                                <li>View the window containing detailed information on each separate experiment by clicking on toxins(s) name in the result table</li>
                                                <li>Go to manuscript online resource by clicking on publication details in the result table</li>
                                                <li>Export the data in a preferred format</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo1">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg> Scope
                                        </div>
                                    </div>
                                    <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample1">
                                        <div class="card-body">
                                            TOXiTAXi is a publicly available database and web application dedicated to gather and analyze the existing and future bioassay results of experiments investigating insecticidal activity and combinatorial effects among <i>Bacillus thuringiensis</i> toxins.<br>
                                            This user-friendly tool provides effortless sorting and analysis of the dataset and it is designed to be used by a bench scientist on an everyday basis. TOXiTAXi is dedicated both to academic communities and implementation units, which develop new bioinsecticides and Integrated Pest Management strategies.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree1">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg> Dataset
                                        </div>
                                    </div>
                                    <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample1">
                                        <div class="card-body">
                                            Currently, TOXiTAXi incorporates data present in manuscripts which contain experiments: 
                                            <ul>
                                                <li> Investigating interactions among <i>Bacillus thuringiensis</i> Cry, Cyt and Vip toxins </li> 
                                                <li> Performed using <i>B. thuringiensis</i> Cry, Cyt or Vip toxins obtained through expression of cloned genes in hosts not producing other pesticidal toxins (typically <i>E. coli</i> or acrystalliferous <i>B. thuringiensis</i> strains) </li>
                                                <li> Provide proper quantification of used toxins. </li>
                                            </ul>
                                            From a selected publication, the available results are incorporated into the database, including activity of toxin compositions as well as separate Cry/Cyt/Vip toxins. Any individual toxin(s)-organism-result association available in a manuscript is considered as a separate experiment. Each experiment recorded in the database includes information regarding: 
                                            <ul>
                                                <li>Source publication (authorship, publication date, PubMed ID)</li>
                                                <li>Tested toxic agent/composition (exact toxin name(s) according to current nomenclature, toxin source, expression host, molecular modifications applied, details on toxin preparation)</li>
                                                <li>Target organism (species name; strain/laboratory line, developmental stage, recognized resistance to toxins)</li>
                                                <li>Bioassay (toxin administration method, bioassay duration, toxicity measure, observed toxicity with units and confidence intervals)</li>
                                                <li>Interaction among toxins (expected toxicity of a mixture, interaction type, estimation model of interaction, and synergism factor)</li>
                                            </ul>
                                            Experimental records were omitted when toxicity bioassays were performed using: 
                                            <ul>
                                                <li>Wild type Bt strains (usually containing sets of not precisely characterized and/or non-quantified toxins)</li>
                                                <li>Binary toxins (Bin, Cry34/Cry35, Vip1/Vip2 etc.)</li>
                                                <li>Lysinibacillus sphaericus toxins (e.g. Mtx)</li>
                                                <li>Bt toxins obtained from transgenic crops – regardless if the above were tested with or without accepted Cry/Cyt/Vip toxins.</li>
                                            </ul>
                                            Moreover, if for some reason the exact values could not be determined for bioassay parameters (e.g. results presented solely in a chart form) the data was not included.
                                            The published data was incorporated into the database without alterations with the following exceptions: 
                                            <ul>
                                                <li>If synergism factor was not provided by the authors, it was calculated when possible</li>
                                                <li>Antagonism factors were recalculated to synergism factors</li>
                                                <li>Toxicity measure units were recalculated to nanograms (e.g., µg/cm2 to ng/cm2, µg/ml to ng/ml, etc.)</li>

                                            </ul>

                                            The TOXiTAXi relies on Bt toxin nomenclature introduced by Crickmore et al. (1998) and maintained in Bt toxin nomenclature database (http://www.btnomenclature.info/). In this nomenclature, the quaternary rank groups identical or almost identical (a few amino acid substitutions) Bt proteins and the differences are considered biologically insignificant (Crickmore et al. 1998; van Frankenhuyzen 2009). Therefore, in TOXiTAXi Bt toxins are considered unalike, when they differ in tertiary or higher rank.<br><br>
                                            TOXiTAXi was designed to be easily expandable and its flexibility enables processing of heterogeneous data regarding toxicity of various biocidal compounds with well-established or just potential use in pest control. In order to test the broad-use potential of the created database, a selection of 16 arbitrarily chosen manuscripts were additionally added to the dataset. These works investigate biocidal activity of agents other than <i>B. thuringiensis</i> Cry/Cyt/Vip proteins, including: chitinolytic enzymes, synthetic and biochemical insecticides, insect midgut proteins, <i>Bacillus thuringiensis</i> Sip proteins, scorpion toxins and fungal spores. For the sake of convenience, in TOXiTAXi, the above-mentioned molecules and pathogens are termed/labeled as “toxins” although many of them do not meet the definition of this term.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour1">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg> Web Interface
                                        </div>
                                    </div>
                                    <div id="collapseFour1" class="collapse" aria-labelledby="headingFour1" data-parent="#accordionExample1">
                                        <div class="card-body">
                                            The TOXiTAXi database interface is designed to be used by a bench scientist on an everyday basis. Following a simplicity rule, the interface of TOXiTAXi has been built on only one result window and simple two types of querying systems, despite the vast amount and variability of data contained in the database.<br><br>
                                            The data selection process is provided in the form of a hierarchical expandable menu to supply the functionality for selecting any combination of toxins or target species. In this way, users can select toxins either by marking individual proteins (e.g., Cry1Ab3 and/or Vip3Aa20) or groups of proteins (e.g., all Cry and/or Vip proteins) from the tree-like menu reflecting the proteins hierarchical nomenclature or by typing protein names in the input text box. Analogously, users can select individual target species of interest (e.g., Helicoverpa armigera) or different combinations of taxonomic groups (e.g., all Lepidoptera and Coleoptera species). The real potential of the TOXiTAXi service is based on its ability to combine different datasets into one display - there is no limit as to the number and type of selected toxins and target species that can be combined in a single query.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFive1">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseFive1" aria-expanded="false" aria-controls="collapseFive1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg> Results
                                        </div>
                                    </div>
                                    <div id="collapseFive1" class="collapse" aria-labelledby="headingFive1" data-parent="#accordionExample1">
                                        <div class="card-body">
                                            The default result window provides basic information on experiments found for a given toxin(s) or target species specified during data selection process. This information includes toxin quantity, observed toxicity including biocidal activity measure (e.g., LC<sub>50</sub>, LC<sub>90</sub>, and mortality rate) and its unit (e.g., ng/cm<sup>2</sup>),  combinatorial effect among toxins in composition (i.e., additivity, synergism, and antagonism), and reference publication. User can generate customizable and integrated results by adding additional information concerning experiments such as: 
                                            <ul>
                                                <li>Developmental stage of target species (e.g., larval instar)</li>
                                                <li>Recognized resistance in target species (e.g., resistance to Cry1Ac protein)</li>
                                                <li>Bioassay duration (e.g., 7 days)</li>
                                                <li>Toxin administration method (e.g., surface contamination)</li>
                                                <li>Expected toxicity (i.e., theoretical toxicity value of toxin combination assuming lack of synergism and antagonism)</li>
                                                <li>Confidence intervals of the observed toxicity</li>
                                                <li>Synergism factor (SF; ratio of expected to observed toxicity)</li>
                                                <li>Estimation model of interaction type</li>
                                            </ul>
                                            The order of the result category columns can be manually adjusted by the user, and eight filters enable further selection of desired information. Such customized tables can be further downloaded from the web page in common tabular formats (i.e. Excel, CSV, and PDF files). Also, by clicking on reference publication, the user is forwarded to related publication in PubMed repository or other online source.<br><br> 

                                            For even more detailed information on each separate experiment, the user can view record window by clicking on toxin(s) name in the result table. The window is divided into three distinct sections. First section is dedicated to the individual components of a given toxin or combination of toxins (e.g., Cry1Ac1 + Cry9Aa) and apart from data available in result table it also provides details such as toxin modification, toxin preparation and source (i.e., expression host). The second section concerns target species and gives additional notification i.e., on particular strain of tested organism. The third section shows detailed information on the experiment results such as toxicity value with confidence intervals or expected toxicity of toxin combination. 
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingSix1">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseSix1" aria-expanded="false" aria-controls="collapseSix1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg> Notifications
                                        </div>
                                    </div>
                                    <div id="collapseSix1" class="collapse" aria-labelledby="headingSix1" data-parent="#accordionExample1">
                                        <div class="card-body">
                                            <ul>
                                                <li>Toxin – name or short description of the toxic agent used in bioassay. In case of toxin combinations, separate constituents are separated by “+”. In case of chimeric/fusion proteins, the names of fused molecules are separated by “-‘.   In case of <i>B. thuringiensis</i> toxins nomenclature introduced by Crickmore et al. (1998) is used. For the sake of convenience, various agents (i.e. enzymes, insect midgut proteins) and entomopathogens are termed/labeled as “toxins”, although they do not meet the definition of this term.</li>
                                                <li>Target species – binominal species name according to current NCBI taxonomy</li>
                                                <li>Target developmental stage – developmental stage (larval instar, imago, etc.) of organism tested in bioassay</li>
                                                <li>Recognised resistance in target species – list of toxins or other factors to which the target organism resistance was recognised</li>
                                                <li>Bioassay duration (days) – bioassay data scoring time (days after treatment)</li>
                                                <li>Toxin quantity – amount of toxin(s) administered to tested organism in a bioassay, along with dose/concentration unit. In case of experiments calculating dose-dependent measure (LC<sub>50</sub>, LC<sub>90</sub>, EC<sub>50</sub>, etc.) of toxin combination the used toxin ratio is given (i.e., 1:1 ratio, 3:1 ratio, etc.). In case of experiments calculating dose-dependent measure of a single toxin this field is empty.</li>
                                                <li>Toxin administration method – method of delivering the toxin to the tested organism<br>
                                                    Currently TOXiTAXi contains experiments using seven various toxin administration methods including:
                                                <ul>
                                                    <li>Contact</li>
                                                    <li>Diet incorporation</li>
                                                    <li>Droplet feeding</li>
                                                    <li>Environment contamination</li>
                                                    <li>Force feeding</li>
                                                    <li>Leaf dip</li>
                                                    <li>Surface contamination</li>
                                                </ul>
                                                To obtain details on method used in each experiment the reader is referred to relevant source manuscripts.
                                                </li>
                                                <li>Toxicity measure – measure used in a bioassay to assess toxin potency. Currently in TAXiTOXi the below mentioned measures are used:
                                                    <ul>
                                                        <li>EC<sub>50</sub> (50% effective concentration) - concentration of toxin(s) causing certain specified effect (i.e., abnormal development) in 50% of exposed population</li>
                                                        <li>ED<sub>50</sub> (50% effective dose) - dose of toxin(s) causing certain specified effect (i.e., abnormal development) in 50% of exposed population</li>
                                                        <li>IC<sub>50</sub> (50% inhibitory concentration) - concentration of toxin(s) causing growth inhibition in 50% of exposed population</li>
                                                        <li>ID<sub>50</sub> (50% inhibitory dose) - dose of toxin(s) causing growth inhibition in 50% of exposed population</li>
                                                        <li>LC<sub>50</sub> (50% lethal concentration) – concentration of toxin(s) lethal for 50% of exposed population</li>
                                                        <li>LC<sub>90</sub> (90% lethal concentration) – concentration of toxin(s) lethal for 90% of exposed population</li>
                                                        <li>LC<sub>95</sub> (95% lethal concentration) – concentration of toxin(s) lethal for 95% of exposed population</li>
                                                        <li>LC<sub>99</sub> (99% lethal concentration) – concentration of toxin(s) lethal for 99% of exposed population</li>
                                                        <li>LD<sub>50</sub> (50% lethal dose) – dose of toxin(s) lethal for 50% of exposed population</li>
                                                        <li>Mortality (mortality rate) – percentage of dead insects in relation to the entire exposed population</li>
                                                        <li>Weight reduction – percentage weight loss of exposed population in relation to control</li>
                                                        <li>Weight reduction 50% - the concentration of the toxin(s) causing 50% reduction in larval weight in comparison with control larvae</li>
                                                    </ul>
                                                </li>
                                                <li>Observed toxicity – calculated value of toxin(s) potency along with appropriate unit</li>
                                                <li>Confidence intervals – 95% fiducial limits calculated for observed toxicity. In some cases, standard error (SE) is provided in this field.</li>
                                                <li>Expected toxicity – expected, theoretical value of toxin combination potency calculated upon observed toxicities of constituents tested separately, assuming additive effect between the constituents</li>
                                                <li>Interaction – estimated combinatorial effect among two or more toxins. Possible options include: synergism, antagonism and additivity. When toxin composition was bioassayed but no interaction studies were performed “N/A” appears in the cell.</li>
                                                <li>Synergism factor (SF) – indicator of synergism (or antagonism) magnitude. This value is calculated by dividing Expected toxicity by Observed toxicity. In experiments indicating synergism, higher SF value means higher magnitude of synergism. In experiments indicating antagonism, lower SF value means higher magnitude of antagonism.</li>
                                                <li>Interaction estimation model – model used to estimate expected, theoretical value of toxin combination activity, assuming additivity among constituents (lack of synergism/antagonism). Typically, three models are used:
                                                    <ul>
                                                        <li>Loewe Additivity (simple similar action) – referenced in a number of works (Ashford 1981; March and de March 1987; Roell et al. 2017) and as an example used by Tabashnik (1992)</li>
                                                        <li>Bliss Independence (similar joint action) – referenced in a number of works (Ashford 1981; March and de March 1987; Roell et al. 2017) and as an example used by Fernández-Luna et al. (2010)</li>
                                                        <li>Empirical – intuitive approach, which generally relies on comparison of effects exerted by composition and individual constituents, as an example used by Kaikaew et al. (2016)</li>
                                                    </ul>
                                                </li>
                                                <li>Publication – for each separate experiment, the first author and publication date of the related manuscript is given (in case of manuscripts authored by two researchers both names are provided). This field is linked with manuscript online source (preferentially PubMed repository)</li>
                                                <li>Target species strain – information regarding certain target organism strain/laboratory line </li>
                                                <li>Toxin source – the species was given from which the toxin originates, was isolated, or from which toxin-coding gene was cloned. Alternatively, “chemical synthesis” is stated when toxin has no source in nature. In case of synthetic pesticides and botanicals the information on commercial pesticide containing the active ingredient was given when possible.</li>
                                                <li>Toxin form – in case of <i>B. thuringiensis</i> toxins this column shows whether protoxin was used in experiment or toxin after activation step (typically using trypsin or insect gut juice)</li>
                                                <li>Toxin modification – details regarding substantial modifications made to a toxin comparing to its native state</li>
                                                <li>Expression host – in case of toxins produced by heterologous expression, a host species name is provided</li>
                                                <li>Toxin preparation – method of toxin preparation and form (toxin purity) administered to target species:
                                                    <ul>
                                                        <li>Culture supernatant – cell-free filtrate obtained after incubation</li>
                                                        <li>Cells – whole cells without cell lysis step</li>
                                                        <li>Cell lysate – crude cell lysate without any purification step</li>
                                                        <li>Cell lysate (partial purification) – host cells containing expressed toxin were subjected to cell lysis followed by partial purification step</li>
                                                        <li>Inclusion bodies – inclusion bodies isolated from cell lysate</li>
                                                        <li>Endospores and parasporal crystals – <i>Bacillus thuringiensis</i> spore-crystal suspension</li>
                                                        <li>Parasporal crystals – protein crystals isolated from <i>Bacillus thuringiensis</i> spore-crystal suspension</li>
                                                        <li>Purified proteins – toxin obtained with protocols including purification step (usually with a chromatographic method)</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingSeven1">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseSeven1" aria-expanded="false" aria-controls="collapseSeven1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg> User contribution
                                        </div>
                                    </div>
                                    <div id="collapseSeven1" class="collapse" aria-labelledby="headingSeven1" data-parent="#accordionExample1">
                                        <div class="card-body">
                                            To ensure database development and its usability we encourage the users to indicate additional publications that should be included into the dataset.<br>

                                            To maintain the reliability and accuracy of the database, we encourage the users to report any noticed errors concerning database content and application functionality.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingEight1">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseEight1" aria-expanded="false" aria-controls="collapseEight1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg> Credits
                                        </div>
                                    </div>
                                    <div id="collapseEight1" class="collapse" aria-labelledby="headingEight1" data-parent="#accordionExample1">
                                        <div class="card-body">
                                            TOXiTAXi has been created on a research platform established by:<br><br>

                                            Department of Microbiology <br>
                                            Institute of Experimental Biology <br>
                                            Adam Mickiewicz University <br>
                                            Uniwersytetu Poznańskiego 6 <br>
                                            61-614 Poznań <br>
                                            Poland <br><br>

                                            and <br><br>

                                            Department of Computational Biology <br> 
                                            Institute of Molecular Biology and Biotechnology <br>
                                            Adam Mickiewicz University <br>
                                            Uniwersytetu Poznańskiego 6 <br>
                                            61-614 Poznań <br>
                                            Poland <br><br>

                                            Authors: <br>
                                            Jakub Baranek <br>
                                            Bartłomiej Pogodziński <br>
                                            Norbert Szipluk <br>
                                            Andrzej Zielezinski <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingNine1">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseNine1" aria-expanded="false" aria-controls="collapseNine1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                                </g>
                                            </svg> Contact
                                        </div>
                                    </div>
                                    <div id="collapseNine1" class="collapse" aria-labelledby="headingNine1" data-parent="#accordionExample1">
                                        <div class="card-body">
                                            In matters regarding TOXiTAXi dataset, development, and error reports please contact Jakub Baranek: jakbar@amu.edu.pl <br>
                                            In matters regarding informatic part of the project please contact Andrzej Zielezinski: andrzejz@amu.edu.pl
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end::Accordion-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>