<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-2">
                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                    <i class="flaticon2-gear"></i>
                                Switch tree
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="btn-group-vertical" role="group">
                            <button
                              onclick="initFactorTree()"
                              type="button"
                              class="btn btn-primary"
                            >
                              <i class="fas fa-biohazard"></i> | Search factors
                            </button>
                            <br />
                            <button
                              onclick="initTargetTree()"
                              type="button"
                              class="btn btn-primary"
                            >
                              <i class="fas fa-frog"></i> | Search organisms
                            </button>
                          </div>
                    </div>
                </div>
    
                <!--end::Portlet-->
            </div>
            <div class="col-10">
                <!--begin::Portlet-->
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                    <i class="flaticon2-checkmark"></i>
                                Browser
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="row">
                            <div class="col-2">
                                <input id="search-input" placeholder="Search the tree..." class="search-input float-left"/>
                            </div>
                        </div>
                        <div id="tree" class="mt-4">
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <form id="form" action="{% url 'research_view' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="entity" id="formEntity" value="" />
                            <input type="hidden" name="IDs" id="formIds" value="" />
                            <button class="btn btn-primary" type="submit">
                                Search research <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
    
                <!--end::Portlet-->
            </div>
        </div>
    </div>
    
    <!-- end:: Content -->