{% load static %}
<script type="text/javascript"> 
    var synCount = "{{countInteraction.SYN | escapejs}}";
    var antCount = "{{countInteraction.ANT | escapejs}}";
    var indCount = "{{countInteraction.IND | escapejs}}";
    var total = "{{sumResearch | escapejs}}";
    var countFactors = "{{countFactors | escapejs}}";
    var countChimeric = "{{countChimeric | escapejs}}";
    var countNotToxin = "{{countNotToxin | escapejs}}";
    var countSource = "{{countSource | escapejs}}";
    var countOrganism = "{{countOrganism | escapejs}}";
 </script>
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="kt-portlet">
            <div class="kt-portlet__body" style="background-size: cover; background-image: url({% static 'prottox/assets/media/bg/insect.jpg' %})">
                <div class="kt-section">
                    <div class="kt-section__title">
                        <h1 class="display-1 kt-shape-font-color-1">Prottox Database</h1>
                    </div>
                    <div class="kt-section__desc">
                        <h4 class="text-muted">Protein insecticide &amp; their combinations from Bacillus Thuringiensis.</h4> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>