<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile" id="research_table">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand fa fa-newspaper"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Research Browser
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">
                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-default btn-icon-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="la la-download"></i> Export
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="kt-nav">
                                    <li class="kt-nav__section kt-nav__section--first">
                                        <span class="kt-nav__section-text">Choose an option</span>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-print"></i>
                                            <span class="kt-nav__link-text">Print</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-copy"></i>
                                            <span class="kt-nav__link-text">Copy</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                            <span class="kt-nav__link-text">Excel</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-text-o"></i>
                                            <span class="kt-nav__link-text">CSV</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                            <span class="kt-nav__link-text">PDF</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        &nbsp;
                        <button type="submit" form="compareForm" class="btn btn-brand btn-elevate btn-icon-sm disabled" id="compareBtn">
                            <i class="flaticon-statistics"></i>
                            Compare
                        </button>
                        <form id="compareForm" action="{% url 'compare_view' %}" method="GET">
                            <input type="hidden" name="IDs" id="formIds" value="" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-section">
                <div class="kt-section__title">
                    Filter results
                </div>
                <div class="kt-section__content">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Visible columns:</label>
                            <div class="input-group">
                                <select id="columnFilter" class="selectpicker" multiple data-live-search="true" data-selected-text-format="count" data-actions-box="true"></select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label class="">Factors:</label>
                            <div class="input-group">
                                <select id="factorFilter" class="selectpicker" multiple data-live-search="true" title="All"></select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Target species:</label>
                            <div class="input-group">
                                <select id="targetSpeciesFilter" class="selectpicker" multiple data-live-search="true" title="All"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Larvae stage:</label>
                            <div class="input-group">
                                <select id="targetLarvaeStageFilter" class="selectpicker" multiple data-live-search="true" title="All"></select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label class="">Target factor resistance:</label>
                            <div class="input-group">
                                <select id="targetFactorResistanceFilter" class="selectpicker" multiple data-live-search="true" title="All"></select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Toxin distribution:</label>
                            <div class="input-group">
                                <select id="toxinDistributionFilter" class="selectpicker" multiple data-live-search="true" title="All"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>Bioassay type:</label>
                            <div class="input-group">
                                <select id="bioassayTypeFilter" class="selectpicker" multiple data-live-search="true" title="All"></select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label class="">Interaction:</label>
                            <div class="input-group">
                                <select id="interactionFilter" class="selectpicker" multiple data-live-search="true" title="All"></select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Estimation method:</label>
                            <div class="input-group">
                                <select id="estimationMethodFilter" class="selectpicker" multiple data-live-search="true" title="All"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--space-lg kt-separator--border-solid"></div>
                <div class="kt-section__title">
                    Data
                </div>
                <div class="kt-section__content">
                    <table class="table table-striped- table-bordered table-hover table-checkable" id="table"></table>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- end:: Content -->