{% load static %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
    <div class="col-12">
    <!--begin:: Widgets/Finance Stats-->
    <div class="kt-portlet kt-portlet--fit kt-portlet--head-lg kt-portlet--head-overlay kt-portlet--height-fluid">
            <div class="kt-portlet__head kt-portlet__space-x">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title kt-font-light">
                        Research #{{research.pk}} - {{research.publication.allAuthors}} ({{research.publication.date.year}})
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget28">
                    <div class="kt-widget28__visual" style="background-image: url({% static 'prottox/assets/media/misc/bg-4.jpg' %}); background-size: cover;"></div>
                    <div class="kt-widget28__wrapper kt-portlet__space-x">

                        <!-- begin::Nav pills -->
                        <ul class="nav nav-pills nav-fill kt-portlet__space-x" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#factor"><span class="mb-3 mt-3"><i class="la la-flask"></i></span><span class="mt-n2">Factors</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#target"><span class="mb-3 mt-3"><i class="la la-bug"></i></span><span class="mt-n2">Target</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#result"><span class="mb-3 mt-3"><i class="la la-bar-chart-o"></i></span><span class="mt-n2">Result</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#publication"><span class="mb-3 mt-3"><i class="la la-file-text-o"></i></span><span class="mt-n2">Publication</span></a>
                            </li>
                        </ul>

                        <!-- end::Nav pills -->
                        <!-- TODO: Finish research -->
                        <!-- begin::Tab Content -->
                        <div class="tab-content">
                            <div id="factor" class="tab-pane active">
                                <div class="kt-widget28__tab-items">
                                    <div class="kt-widget28__tab-item">
                                        <span>Factors</span>
                                        <span>{{research.factors}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Toxin distribution</span>
                                        <span>{{research.toxin_distribution.distribution_choice | default:'N/A' | capfirst}}</span>
                                    </div>
                                    {% for toxin in research.toxin.all %}    
                                    <div class="kt-widget28__tab-item">
                                        <span>
                                            <div class="kt-divider">
                                                <span></span>
                                                <span>{{toxin.fullname}}</span>
                                                <span></span>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Factor source</span>
                                        <span>{{toxin.factor_source.source | default:'N/A' | capfirst}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Factor isolation source (subspecies/serovar/biotype etc.)</span>
                                        <span>{{toxin.isolation_source.isolation_source | default:'N/A' | capfirst}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Factor form</span>
                                        <span>{{toxin.factor_form.form | default:'N/A' | capfirst}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Factor modification</span>
                                        <span>{{toxin.modification_description | default:'N/A' | capfirst}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Factor expression host</span>
                                        <span>{{toxin.factor_expression_host.host | default:'N/A' | capfirst}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Factor kDa</span>
                                        <span>{{toxin.kDa | default_if_none:'N/A'}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Factor preparation</span>
                                        <span>{{toxin.preparation | default:'N/A' | capfirst}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Factor NCBI accession number</span>
                                        <span>{{toxin.NCBI_accession_number | default:'N/A'}}</span>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="target" class="tab-pane fade">
                                <div class="kt-widget28__tab-items">
                                    <div class="kt-widget28__tab-item">
                                        <span>Project Description</span>
                                        <span>Back-End Web Architecture</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Total Charges</span>
                                        <span>USD 2,170.000</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>INE Number</span>
                                        <span>D110-1234562546</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Company Name</span>
                                        <span>SLT Back-end Solutions</span>
                                    </div>
                                </div>
                            </div>
                            <div id="result" class="tab-pane fade">
                                <div class="kt-widget28__tab-items">
                                    <div class="kt-widget28__tab-item">
                                        <span>Days of observation</span>
                                        <span>{{research.days_of_observation | default:'N/A'}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Project Description</span>
                                        <span>Creating Back-end Components</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Company Name</span>
                                        <span>SLT Back-end Solutions</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>INE Number</span>
                                        <span>D510-7431562548</span>
                                    </div>
                                </div>
                            </div>
                            <div id="publication" class="tab-pane fade">
                                <div class="kt-widget28__tab-items">
                                    <div class="kt-widget28__tab-item">
                                        <span>Authors</span>
                                        <span>{{research.publication.allAuthors}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Publication year</span>
                                        <span>{{research.publication.date.year}}</span>
                                    </div>
                                    <div class="kt-widget28__tab-item">
                                        <span>Link to publication</span>
                                        {% with research.publication.link as link %}
                                        {% if link %}
                                        <span><a href="{{link}}">{{link}}</a></span>
                                        {% else %}
                                        <span>N/A</span>
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end::Tab Content -->
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</div>
